<h4>You've been logged out...</h4>

<script type="text/javascript">
    $(document).ready(function () {
        setTimeout(function () {
            window.location.href = "/";
        }, 4000);
    });
</script>