
@{
    ViewData["Title"] = "ManageFeeds";
}

<script src="~/js/feedManager.js"></script>

<h2>Manage Feeds</h2>

<button class="btn btn-default" onclick="addFeed('great_feed', 'http://localhost:51911/')">Add feed</button>
<button class="btn btn-default" onclick="getFeeds()">Get feeds</button>
<button class="btn btn-default" onclick="renameFeed('great_feed', 'great_feed_2')">Rename feed</button>
<button class="btn btn-default" onclick="deleteFeed('great_feed_2')">Delete Feed</button>

<button class="btn btn-default" onclick="getFeed('','')">Get feed</button>
<button class="btn btn-default" onclick="uploadPackage()">Upload Package</button>
<button class="btn btn-default" onclick="unlistPackage('', '', '')">Unlist Package</button>
<button class="btn btn-default" onclick="downloadPackage('', '', '')">Download Package</button>

<br />
<p>Output</p>
<textarea id="output" rows="10" cols="100">
</textarea> 