
@{
    ViewData["Title"] = "ManageFeeds";
}

<script src="~/js/nuGetFeedClient.js"></script>

<h2>Manage Feeds</h2>

<button class="btn btn-default" onclick="deletePackage('','','')">Delete Package</button>
<button class="btn btn-default" onclick="getFeed('')">Get feed</button>