@{
    ViewData["Title"] = "ManageFeeds";
}
<script src="~/lib/jsrender/jsrender.min.js"></script>
<script src="~/js/manage.js"></script>
<script src="~/js/feedManager.js"></script>

<h2>Manage Feeds</h2>
<div style="height: 25px">
    <div class="loader"></div>
</div>
<h4>Create feed</h4>
<div class="form-inline">
    <div class="form-group">
        <label for="inputAddFeedName">Name</label>
        <input type="text" class="form-control" id="inputAddFeedName">
    </div>
    <div class="form-group" style="margin-left: 10px">
        <label for="inputAddFeedLocation">Location</label>
        <input type="text" class="form-control" id="inputAddFeedLocation">
    </div>
    <button class="btn btn-default" onclick="createFeed()">Create</button>
</div>
<br />

<h4>Feeds</h4>
<table id="feedTable" class="table table-striped" style="max-width: 600px">
    <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th class="action-row">Action</th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>
<button class="btn btn-default" onclick="refreshFeedGrid()"><span class="glyphicon glyphicon-refresh"></span></button>
<br />
<label for="inputPackageUpload">Package</label>
<input type="file" class="form-control larais-text-input" id="inputPackageUpload">
<button class="btn btn-default" onclick="uploadPackageToFeed()">Upload Package</button>
<button class="btn btn-default" onclick="unlistPackage('', '', '')">Unlist Package</button>
<button class="btn btn-default" onclick="downloadPackage('', '', '')">Download Package</button>

<br />
<p>Output</p>
<textarea id="output" rows="10" cols="100">
</textarea> 

<script id="feedRowTmpl" type="text/x-jsrender">
    {{for feeds}}
    <tr>
        <td>{{:name}}</td>
        <td>{{:location}}</td>
        <td><button class="btn btn-default" onclick="deleteFeedDialog('{{:name}}')">Delete</button><button class="btn btn-default" onclick="renameFeedDialog('{{:name}}')">Rename</button></td>
    </tr>
    {{/for}}
</script>

<script id="renameDialogTmpl" type="text/x-jsrender">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Confirm delete</h4>
        </div>
        <div class="modal-body">
            <p>Rename feed "{{:name}}" to</p>
            <input type="text" id="inputNewFeedName" value="{{:name}}" class="form-control"/>
        </div>
        <div class="modal-footer">
            <button id="btnCancel" type="button" class="btn btn-default">Cancel</button>
            <button id="btnRename" type="button" class="btn btn-primary">Rename</button>
        </div>
    </div>
</script>

<script id="confirmDialogTmpl" type="text/x-jsrender">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Confirm delete feed</h4>
        </div>
        <div class="modal-body">
            <p>Do you really want to delete the feed "{{:name}}"?</p>
        </div>
        <div class="modal-footer">
            <button id="btnCancel" type="button" class="btn btn-default">Cancel</button>
            <button id="btnConfirm" type="button" class="btn btn-primary">Confirm</button>
        </div>
    </div>
</script>

<div id="modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document"></div>
</div>