#splitter-container {
    position: absolute;
}

    #splitter-container > .leftPane {
        padding: 10px;
    }

/* Right Side Splitter */
#splitter-package-container {
    position: absolute;
    top: 50px;
    left: 10px;
    right: 0px;
    bottom: 0px;
}

/* Hub-Title */
#larais-hub-title {
    position: absolute;
    left: 0;
    right: 0;
    border-bottom: 1px solid lightgray;
    padding-top: 12px;
    font-weight: 200;
    font-size: 18px;
    color: #212121;
    font-family: "-apple-system",BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Ubuntu,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

    #larais-hub-title > h1 {
        font-weight: 200;
        font-size: 18px;
        margin-top: 0;
        padding-left: 25px;
    }

/* NuGet-Package-Representation */
PackagesList {

}

PackagesList > li {

}

/* Dialog */
.feed-dialog-content {
    display: none;
}

.larais-text-input {
    border: 1px solid #ddd;
    width: 100%;
    outline: none;
    padding: 2px;
}

/* From https://cdn.vsassets.io/v/20170208T195652/App_Themes/Default/Splitter.css */
#splitter-container.splitter.horizontal .leftPane {
    width: 250px;
    left: 0;
    top: 0;
    bottom: 0;
    padding-right: 10px;
}

#splitter-container.splitter.horizontal .handleBar {
    left: 250px;
    right: auto;
    width: 0;
    cursor: e-resize;
    top: 0;
    bottom: 0;
    border-left-width: 1px;
}

#splitter-container.splitter.horizontal .rightPane {
    width: auto;
    left: 250px;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: 1px;
}

#splitter-container.splitter.horizontal.right-fix .leftPane {
    width: auto;
    left: 0;
    right: 250px;
    margin-right: 1px;
}

#splitter-container.splitter.horizontal.right-fix .rightPane {
    width: 250px;
    left: auto;
    right: 0;
    margin-left: 0;
}

#splitter-container.splitter.horizontal.right-fix .handleBar {
    left: auto;
    right: 250px !important;
}
