.larais-h1 {
    font-size: 18px;
    font-weight: 200;
}

.larais-close {
    display: block;
    position: absolute;
    top: 12px;
    right: 10px;
    cursor: pointer;
}

#splitter-container {
    position: absolute;
}

    #splitter-container > .leftPane {
        padding: 10px;
    }

/* Right Side Splitter */
#splitter-package-container {
    position: absolute;
    top: 50px;
    left: 10px;
    right: 0px;
    bottom: 0px;
}

/* Hub-Title */
#larais-hub-title {
    position: absolute;
    left: 0;
    right: 0;
    clear: both;
    border-bottom: 1px solid lightgray;
    color: #212121;
    font-family: "-apple-system",BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Ubuntu,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    padding-top: 10px;
}

#larais-hub-title > h1 {
    font-weight: 200;
    font-size: 18px;
    margin-top: 0;
    padding-left: 25px;
    float: left;
}

#larais-hub-title > #feed-right-menu {
    margin-top: 0;
    padding-left: 25px;
    float: right;
}

#feed-treeview ul.tree-children ul.tree-children li {
    padding-left: 20px;
}

/* NuGet-Package-Representation */
#PackagesList {
}

.package-single-item {
    clear: both;
    margin-bottom:30px;
}

.package-nuget-icon {
    height: 50px;
    width: 50px;
    display: block;
    float: left;
    margin-right: 10px;
}

.package-title {
    font-weight: bold;
}

.package-version {

}

/* Dialog */
.feed-dialog-content {
    display: none;
}

.larais-text-input {
    border: 1px solid #ddd;
    width: 100%;
    outline: none;
    padding: 2px;
}

/* From https://cdn.vsassets.io/v/20170208T195652/App_Themes/Default/Splitter.css */
#splitter-container.splitter.horizontal .leftPane {
    width: 250px;
    left: 0;
    top: 0;
    bottom: 0;
    padding-right: 10px;
}

#splitter-container.splitter.horizontal .handleBar {
    left: 250px;
    right: auto;
    width: 1px;
    cursor: e-resize;
    top: 0;
    bottom: 0;
}

#splitter-container.splitter.horizontal .rightPane {
    width: auto;
    left: 250px;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: 1px;
}

#splitter-container.splitter.horizontal.right-fix .leftPane {
    width: auto;
    left: 0;
    right: 250px;
    margin-right: 1px;
}

#splitter-container.splitter.horizontal.right-fix .rightPane {
    width: 250px;
    left: auto;
    right: 0;
    margin-left: 0;
}

#splitter-container.splitter.horizontal.right-fix .handleBar {
    left: auto;
    right: 250px !important;
}

/* Right Side Splitter */


#splitter-package-container.splitter.horizontal .leftPane {
    width: 290px;
    left: 0;
    top: 0;
    bottom: 0;
    padding-right: 10px;
}

#splitter-package-container.splitter.horizontal .handleBar {
    left: 290px;
    right: auto;
    width: 1px;
    cursor: e-resize;
    top: 0;
    bottom: 0;
}

#splitter-package-container.splitter.horizontal .rightPane {
    width: auto;
    left: 290px;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: 1px;
}

#splitter-container.splitter.horizontal.right-fix .leftPane {
    width: auto;
    left: 0;
    right: 290px;
    margin-right: 1px;
}

#splitter-package-container.splitter.horizontal.right-fix .rightPane {
    width: 290px;
    left: auto;
    right: 0;
    margin-left: 0;
}

#splitter-package-container.splitter.horizontal.right-fix .handleBar {
    left: auto;
    right: 290px !important;
}


/* Popup content container */
.larais-popup {
    position: fixed;
    display: block;
    top: 40px;
    right: 1px;
    z-index: 20000;
    background-color: white;
    width: 270px;
    overflow: hidden;
    box-shadow: 0px 2.5px 5px rgba(0,0,0,0.4);
    padding: 0px 10px 0px 10px;
}

.larais-popup > h1 {
    font-size: 18px;
}